/* Container styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
 
  
  /* Input and button container */
  .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  /* Label styles */
  label {
    margin-right: 5px;
  }
  
  /* Input styles */
  input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  /* Button Styles */
.showroute button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

button:focus {
  outline: none;
}

/* Optional: Adjustments for better accessibility */
button::-moz-focus-inner {
  border: 0;
}

button:active {
  background-color: #3e8e41;
}

  
  /* Shortest path display */
  .shortest-path {
    margin-top: 10px;
  }
  
  .shortest-path p {
    font-size: 16px;
  }
  
