General Styles
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}




/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.logo-text {
    font-size: 20px;
    font-family: 'Mirai', sans-serif; /* Assuming 'Mirai' is the name of your font */
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
    background-color: #555;
    color: #fff;
}

/* Content Area */
.content {
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.content h1 {
    color: #333;
    font-weight: 700;
    font-size: 52px;
    line-height: 125%;
}


.content p {
    margin-bottom: 26px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
   
}

.content-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.content-links li {
    display: inline;
    margin-right: 20px;
}

.content-links a {
    border: 2px solid black;
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.content-links a:hover {
    background-color: #333;
    color: #fff;
}



.login {
    position: absolute;
    top: 50px; /* Adjust as needed for proper spacing */
    right: 10px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.login a {
    color: #fff;
    text-decoration: none;
}

.login a:hover {
    color: #ddd;
}


/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 1px 0;
    text-align:center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin-right: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}


  /*Image*/

  .maingate {
    text-align: center;
  }

  .maingate img {
    border-radius: 20px;
  }